{block #breadcrumb}
<li><a href="{link Homepage:default}">Domov</a></li>
<li>></li>
<li class="actual">Nastavenia</li>
{/block}

{block content}
<h2>Nastavenia</h2>

{if $user_object->isAllowed('nastavenia', 'nastavenia_admin')}
<div class="overview">
<div id="menu">
        <ul>
            <li{if $current=='Acl:Users'} class="hover"{/if}><a href="{plink //Users:default}">Users</a></li>
            <li{if $current=='Acl:Permission'} class="hover"{/if}><a href="{plink //Permission:}">Permission</a></li>
            <li{if $current=='Acl:Roles'} class="hover"{/if}><a href="{plink //Roles:}">Roles</a></li>
            <li{if $current=='Acl:Resources'} class="hover"{/if}><a href="{plink //Resources:}">Resources</a></li>
            <li{if $current=='Acl:Privileges'} class="hover last"{/if}><a href="{plink //Privileges:}">Privileges</a></li>
        </ul>
    </div>
    <div id="content">
            <div n:foreach="$flashes as $flash" class="flash {$flash->type}">{$flash->message}</div>        
    </div>

<script type="text/javascript">
$("ul.border_parent").parent().css("border-left", "1px solid grey");
</script>

</div>
<br />
<br />
{/if}

{if $user_object->isAllowed('nastavenia', 'nastavenia_rozpocet')  }
<div class="overview">
	<table>
		<tr>
			<th>Finančné zdroje</th>
			<th>Počet študentov</th>
			<th>Akcia</th>
		</tr>

		{foreach $schools as $school}
		<tr class="{$iterator->odd ? odd : even}">
			<td>{$school->money|zeroPrice}</td>
			<td>{$school->students}</td>
			<td class="actions">
				<div class="actions-container">
                                    <a class="more" href="{plink Settings:edit, $school->id}"></a>
				</div>
			</td>
		</tr>
		{/foreach}
	</table>
</div>
<br />
<br />

<div class="overview">
	<table>
		<tr>
			<th>Fakulta</th>
			<th>Finančné zdroje</th>
			<th>Počet študentov</th>
			<th>Akcie</th>
		</tr>

	{foreach $school_data as $faculty_id => $school_faculty}
		<tr class="{$iterator->odd ? odd : even}">
			<td class="name" title="{$school_faculty['name']}">{$school_faculty['acronym']}</td>
                        <td>{$school_faculty->total_money|emptyPrice}</td>
			<td>{$school_faculty->total_students}</td>
			
			<td class="actions">
				<div class="actions-container">
					<a class="more" href="{plink Settings:faculty, $faculty_id}"></a>
					<div class="clearer"></div>
				</div>
			</td>
		</tr>
	{/foreach}


	</table>
</div>
{/if}