{block #breadcrumb}
<li><a href="{link :Homepage:default}">Domov</a></li>
<li>></li>
<li class="actual">Projekty</li>
{/block}

{block content}
<h2>Projekty</h2>

<div class="overview">
	{control dataGrid}
</div>
	
	

