{block #breadcrumb}
<li><a href="{link Homepage:default}">Domov</a></li>
<li>></li>
<li><a href="{link Projects:default}">Projekty</a></li>
<li>></li>
<li><a href="{link Projects:edit, $project->id}">{$project->name}</a></li>
<li>></li>
<li class="actual">Pridať ústav</li>
{/block}

{block content}
<h2>Pridanie nového ústavu</h2>

<div class="forms">
	{control addForm}
</div>
