{block #breadcrumb}
<li><a href="{link Homepage:default}">Domov</a></li>
<li>></li>
<li><a href="{link Projects:default}">Projekty</a></li>
<li>></li>
<li class="actual">Pridať projekt</li>
{/block}

{block content}
<h2>Pridanie nového projektu</h2>

<div class="forms">
	<div class="add-project">
		{control addForm}
	</div>
</div>
