{block #breadcrumb}
<li><a href="{link Homepage:default}">Domov</a></li>
<li>></li>
<li class="actual">Moje projekty</li>
{/block}

{block content}
<h2>Moje projekty</h2>

<div class="overview">
	{control dataGridMyProjects}
</div>
	
	

