{block #breadcrumb}
<li><a href="{link Homepage:default}">Domov</a></li>
<li>></li>
<li><a href="{link Settings:default}">Nastavenia</a></li>
<li>></li>
<li><a href="{link Privileges:default}">Privilégia</a></li>
<li>></li>
<li class="actual">Upravenie Privilégia</li>
{/block}

{block content}
<h2>{block #title}Upravenie Privilégia{/block}</h2>

<div class="forms">
{widget addEdit}
</div>