{block #breadcrumb}
<li><a href="{link Homepage:default}">Domov</a></li>
<li>></li>
<li><a href="{link Settings:default}">Nastavenia</a></li>
<li>></li>
<li><a href="{link Resources:default}">Zdroje</a></li>
<li>></li>
<li class="actual">Pridanie Zdroju</li>
{/block}

{block content}
<h2>{block #title}Pridanie Zdroju{/block}</h2>

<div class="forms">
{widget addEdit}
</div>