{block head}
<!--Load the AJAX API-->
<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script type="text/javascript">

  // Load the Visualization API and the piechart package.
  google.load('visualization', '1.0', {'packages':['corechart']});  
  
  function drawChart(element_id, title, chartData) {

	// Create the data table.
	var data = new google.visualization.DataTable();
	data.addColumn('string', 'Ústav');
	data.addColumn('number', 'Pridelené financie');
	data.addRows(chartData);

	// Set chart options
	var options = { 'width': 400,
				    'height': 300,
					'is3D': true,
					'backgroundColor':'transparent',
					'colors': [
						'#305abc',	
						'#c3000e',	
						'#32c300',	
						'#6f24cc',	
						'#e07432',	
						'#8cd108',	
						'#b810cc',
						'#397d99',
						'#de5909',
						'#920156',
						'#530192',
						'#014592',
						'#459201',
						'#cf39d4',
						'#3982d4',
						'#39d485',
						'#b45e3c',
						'#3c74b4',
						'#6c3cb4',
						'#b43c6f',
						'#b43c3c',
						'#91b43c',
						'#e885a3',
						'#e8c185',
						'#8985e8',
					],
					'legend': { 
						'position': 'none'
					},
					'tooltip': {
						'showColorCode': true
					},
					'chartArea': {
						'top': 20
					}
				};

	// Instantiate and draw our chart, passing in some options.
	var chart = new google.visualization.PieChart(document.getElementById(element_id));
	chart.draw(data, options);
  }
</script>
{/block}
	
{block content}
<h2>Štatistiky</h2>

<script>
	chartData_faculties_students = [];
	{foreach $school as $faculty_values}
		chartData_faculties_students.push([{$faculty_values['acronym']}, {$faculty_values['money']}]);
	{/foreach}
		
	// Set a callback to run when the Google Visualization API is loaded.	
	google.setOnLoadCallback(function() { drawChart('chart_div_faculties_students', 'Fakulty students', chartData_faculties_students) });
</script>

<h4>Fakulty</h4>
<div style="float: left" id="chart_div_faculties_students"></div>

<div class="legend">
	<table class="statistics-table">
		<tr>
			<th style="width:100px">Fakulta</th> 
			<th style="width:130px">Finančné prostriedky</th>
			<th style="width:120px">Počet študentov</th>
		</tr>
		{foreach $school as $faculty_values}
			<tr>
				<td style="text-align: left; padding-left: 10px">
					<div style="width: 15px; height: 15px; background: {!$colors[$iterator->counter-1]}; float: left; margin-right: 10px"></div>
					{$faculty_values['acronym']}
				</td> 
				<td>{$faculty_values['money']}</td>
				<td>{$faculty_values['students']}</td>
			</tr>
		{/foreach}
	</table>		
</div>
<div class="clearer"></div>


{foreach $faculties as $faculty} 
<script>
	chartData_{$faculty->id} = [];
	{foreach $faculty->related('institute')->order('students DESC') as $institute}
		chartData_{$faculty->id}.push([{$institute->acronym}, {$institute->money}]);
	{/foreach}
		
	// Set a callback to run when the Google Visualization API is loaded.	
	google.setOnLoadCallback(function() { drawChart('chart_div_{$faculty->id}', {$faculty->name}, chartData_{$faculty->id}) });
</script>

<div>
	<h4>{$faculty->name}</h4>
	<div style="float: left" id="chart_div_{$faculty->id}"></div>

	<div class="legend">
		<table class="statistics-table">
			<tr>
				<th style="width:100px">Ústav</th> 
				<th style="width:130px">Finančné prostriedky</th>
				<th style="width:120px">Počet študentov</th>
			</tr>
			{foreach $faculty->related('institute')->order('students DESC') as $institute}
				<tr>
					<td style="text-align: left; padding-left: 10px" title="{$institute->name}">
						<div style="width: 15px; height: 15px; background: {!$colors[$iterator->counter-1]}; float: left; margin-right: 10px"></div>
						<a href="{plink Institutes:edit, $institute->id}">{$institute->acronym}</a>
					</td> 
					<td>{$institute->money}</td>
					<td>{$institute->students}</td>
				</tr>
			{/foreach}
		</table>		
	</div>
	<div class="clearer"></div>
</div>
{/foreach}

