{block #breadcrumb}
<li><a href="{link Homepage:default}">Domov</a></li>
<li>></li>
<li><a href="{link Settings:default}">Nastavenia</a></li>
<li>></li>
<li><a href="{link Roles:default}">Role</a></li>
<li>></li>
<li class="actual">Pridanie Role</li>
{/block}

{block content}
<h2>{block #title}Pridanie Role{/block}</h2>

<div class="forms">
{widget addEdit}
</div>