{block #breadcrumb}
<li><a href="{link Homepage:default}">Domov</a></li>
<li>></li>
<li><a href="{link Settings:default}">Nastavenia</a></li>
<li>></li>
<li><a href="{link Roles:default}">Role</a></li>
<li>></li>
<li class="actual">Upravenie Role</li>
{/block}

{block content}
<h1>{block #title}Upravenie Role{/block}</h1>

<div class="forms">
    {widget addEdit}
</div>