{block #breadcrumb}
<li><a href="{link Homepage:default}">Domov</a></li>
<li>></li>
<li class="actual">{$faculty['name']}</li>
{/block}

{block #content}

<h2>{$faculty['name']}</h2>

<div class="overview">
	<table>
		<tr style="background: gray; color: white">
			<th>Ústav</th>
			<th>Počet projektov</th>
			<th>Fin.zdroje</th>
			<th>Schválené fin.zdroje</th>
			<th>Voľné fin.zdroje</th>
			<th>Ľudské zdroje</th>
			<th>Schválené ľudské zdroje</th>	
			<th>Akcie</th>
		</tr>

	{foreach $institutes as $institute_id => $institute}
		<tr class="{$iterator->odd ? odd : even}">
			<td class="name" title="{$institute['name']}">{$institute['acronym']}</td>
			<td>{$institute->project_count}</td>
			<td>{$institute->total_cost|emptyPrice}</td>
			<td class="approved">{$institute->approved_cost|emptyPrice}</td>
			<td>{$institute->free_money|emptyPrice}</td>	
			<td>{$institute->total_hr|emptyNumber}</td>
			<td class="approved">{$institute->approved_hr|emptyNumber}</td>
			<td class="actions">
				<div class="actions-container">
					<a class="more" href="{plink 'Homepage:institute', $institute_id}">
				</a>
				<div class="clearer"></div>
			</td>
		</tr>
	{/foreach}
		
		<tr class="total">
			<td>Spolu</td>
			<td>{$faculty->project_count}</td>
			<td>{$faculty->total_cost|emptyPrice}</td>
			<td>{$faculty->approved_cost|emptyPrice}</td>
		  <td>{$faculty->free_money|emptyPrice}</td>
			<td>{$faculty->total_hr|emptyNumber}</td>
			<td>{$faculty->approved_hr|emptyNumber}</td>		
			<td></td>
		</tr>

	</table>
</div>
