{block #content}
<div class="tableheader">
<h2>{$faculty['total']['name']}</h2>
</div>
<table class="hometable">
	<tr style="background: gray; color: white">
		<th style="width: 100px">Ústav</th>
		<th style="width: 100px">Počet projektov</th>
		<th style="width: 100px">Fin.zdroje</th>
		<th style="width: 100px">Schválené fin.zdroje</th>
		<th style="width: 100px">Ludské zdroje</th>
		<th style="width: 100px">Schválené ludské zdroje</th>	
		<th>Akcie</th>
	</tr>
	
	<tr>
		<td style="width: 100px; font-weight: bold; ">Spolu</td>
		<td style="width: 100px">{$faculty['total']['projects_count']}</td>
		<td style="width: 100px">{$faculty['total']['cost']}</td>
		<td style="width: 100px">{$faculty['total']['approved_cost']}</td>
		<td style="width: 100px">{$faculty['total']['hr']}</td>
		<td style="width: 100px">{$faculty['total']['approved_hr']}</td>		
		<td></td>
	</tr>
	
{foreach $faculty['institute'] as $institute_id => $institute}
	<tr>
		<td style="text-align: center;font-weight: bold; padding-left: 5px" title="{$institute['name']}">{$institute['acronym']}</td>
		<td>{$institute['projects_count']}</td>
		<td>{$institute['cost']}</td>
		<td style="background: #92d050; color: white; font-weight: bold">{$institute['approved_cost']}</td>
		<td>{$institute['hr']}</td>
		<td style="background: #92d050; color: white; font-weight: bold">{$institute['approved_hr']}</td>
		<td><a class="viacbutton" href="{plink 'Homepage:institute', $institute_id}"><ul><li>viac</li></ul></a></td>
	</tr>
{/foreach}

</table>