{block #breadcrumb}
<li><a href="{link Homepage:default}">Domov</a></li>
<li>></li>
<li class="actual">Ústavy</li>
{/block}

{block content}
<h2>Ústavy ({isSet($faculty) ? $faculty->name : 'všetky'})</h2>

<div class="overview">
	<a class="add" href="{plink Institutes:add}">Pridať ústav</a>
	<table>
		<tr>
			<th>Názov</th>
			<th>Akronym</th>
			<th>Akcia</th>
		</tr>

		{ifset $faculty}
			{foreach $faculty->related('institute') as $institute}
				<tr class="{$iterator->odd ? odd : even}">
					<td class="name">{$institute->name}</td>
					<td>{$institute->acronym}</td>
					<td class="actions">
						<div class="actions-container">
							<a class="more" href="{plink Institutes:edit, $institute->id, $faculty->id}"></a>
							<a class="delete" href="{plink Institutes:delete, $institute->id, $faculty->id}" onclick="return confirm('Naozaj chcete zmazať {$institute->name}?')"></a>
						</div>
					</td>
				</tr>
			{/foreach}
		{else}
			{foreach $all_institutes as $institute}
				<tr class="{$iterator->odd ? odd : even}">
					<td class="name">{$institute->name}</td>
					<td>{$institute->acronym}</td>
					<td class="actions">
						<div class="actions-container">
							<a class="more" href="{plink Institutes:edit, $institute->id}"></a>
							<a class="delete" href="{plink Institutes:delete, $institute->id}" onclick="return confirm('Naozaj chcete zmazať {$institute->name}?')"></a>
						</div>
					</td>
				</tr>
			{/foreach}
		{/ifset}
	</table>
</div>
