{block #breadcrumb}
<li><a href="{link Homepage:default}">Domov</a></li>
<li>></li>
<li class="actual"><a href="{link Faculties:default}">Fakulty</a></li>
{/block}

{block content}
<h2>Fakulty</h2>

<div class="overview">
    {if $user_object->isAllowed('fakulty', 'add')}
	<a class="add" href="{plink Faculties:add}">Pridať fakultu</a>
    {/if}
    
    
    
	<table>
		<tr>
			<th>Názov</th>
			<th>Akronym</th>
			<th>Akcia</th>
		</tr>

		{foreach $faculties as $faculty}
		<tr class="{$iterator->odd ? odd : even}">
			<td class="name"><a href="{plink Institutes:default, $faculty->id}">{$faculty->name}</a></td>
			<td>{$faculty->acronym}</td>
			<td class="actions">
				<div class="actions-container">
                                    {if $user_object->isAllowed('fakulty', 'edit')}
                                        {if $faculty_object->allowFaculty($faculty->id) }
                                            <a class="more" href="{plink Faculties:edit, $faculty->id}"></a>
                                        {/if}
                                    {/if}
                                    {if $user_object->isAllowed('fakulty', 'delete')}
                                        {if $faculty_object->allowFaculty($faculty->id) }
					<a class="delete" href="{plink Faculties:delete, $faculty->id}" onclick="return confirm('Naozaj chcete zmazať {$faculty->name}?')"></a>
                                        {/if}
                                    {/if}
				</div>
			</td>
		</tr>
		{/foreach}
	</table>
</div>
