{block #breadcrumb}
<li><a href="{link Homepage:default}">Domov</a></li>
<li>></li>
<li><a href="{link Faculties:default}">Fakulty</a></li>
<li>></li>
<li class="actual"><a href="{link Faculties:edit, $faculty->id}">{$faculty->name}</a></li>
{/block}

{block content}
<h2>Upravenie faulty</h2>

<div class="forms">
	{control saveForm}
</div>

