{**
 * My Application layout template.
 *
 * @copyright  Copyright (c) 2010 John Doe
 * @package    MyApplication
 *
 * @param string   $basePath web base path
 * @param string   $robots   tell robots how to index the content of a page (optional)
 * @param array    $flashes  flash messages
 *}

<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">

	<meta name="description" content="Nette Framework web application skeleton">
	<meta name="robots" content="{$robots}" n:ifset="$robots">

	<title>{$title}</title>

	<link rel="stylesheet" media="screen,projection,tv" href="{$basePath}/css/screen.css" type="text/css">
	<link rel="stylesheet" media="screen,projection,tv" href="{$basePath}/css/jquery-ui-1.8.18.custom.css" type="text/css">
	<link rel="stylesheet" media="print" href="{$basePath}/css/print.css" type="text/css">
	<link rel="shortcut icon" href="{$basePath}/favicon.ico" type="image/x-icon">

	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6/jquery.min.js"></script>
	<script type="text/javascript" src="{$basePath}/js/netteForms.js"></script>
	<script type="text/javascript" src="{$basePath}/js/jquery-ui-1.8.18.custom.min.js"></script>
	{block head}{/block}
</head>

<body>	
	<div class="envelope">
      <div class="header">
		<div class="user-info">
			<div class="f_left">Prihlásený ako: <span class="c-green bold">{$user->name} | {$user->role}</span></div>
			<a class="logout" href="{link sign:out}" title="Odhlásiť"></a>
			<div n:foreach="$flashes as $flash" class="flash {$flash->type}">{$flash->message}</div>
			<div class="clearer"></div>
		</div>
        <div class="header-content">
          <div class="header-item left">
            <div class="top">
              <div class="top-content">
                <span>ALL</span>
              </div>
            </div>
            <div class="item-content">
            </div>
          </div>
          
          <div class="header-item middle">
            <div class="top">
              <div class="top-content"> 
                <a class="arrow-left" href="#"><img  src="{$baseUri}/images/arrow-left.png" /></a> 
                <a class="house" href="#"><img  src="{$baseUri}/images/house.png" /></a>
                <br class="clearer" />                
              </div>
            </div>
            <div class="item-content">
              <span>TOTAL</span>
            </div>
          </div>
          
          <div class="header-item middle">
            <div class="top">
              <div class="top-content">
                <a class="arrow-left" href="#"><img  src="{$baseUri}/images/arrow-left.png" /></a> 
                <a class="house" href="#"><img  src="{$baseUri}/images/house.png" /></a>
                <br class="clearer" />                    
              </div>
            </div>
            <div class="item-content">
              <div class="item-content-top">
                <span>FEI</span>
              </div>
              <div class="item-content-bottom">
              </div>
            </div>
          </div>
          
          <div class="header-item middle">
            <div class="top">
              <div class="top-content">  
                <a class="arrow-left" href="#"><img  src="{$baseUri}/images/arrow-left.png" /></a> 
                <a class="house" href="#"><img  src="{$baseUri}/images/house.png" /></a>
                <br class="clearer" />                  
              </div>
            </div>
            <div class="item-content">
              <div class="item-content-top">
                <span>FIIT</span>
              </div>
              <div class="item-content-bottom">
              </div>
            </div>
          </div>
          
          <div class="header-item middle">
            <div class="top">
              <div class="top-content"> 
                <a class="arrow-left" href="#"><img  src="{$baseUri}/images/arrow-left.png" /></a> 
                <a class="house" href="#"><img  src="{$baseUri}/images/house.png" /></a>
                <br class="clearer" />                   
              </div>
            </div>
            <div class="item-content">
              <div class="item-content-top">
                <span>FIIT</span>
              </div>
              <div class="item-content-bottom">
              </div>
            </div>
          </div>
          
          <div class="header-item right">
            <div class="top">
              <div class="top-content">
                <a class="arrow-left" href="#"><img  src="{$baseUri}/images/arrow-left.png" /></a> 
                <a class="house" href="#"><img  src="{$baseUri}/images/house.png" /></a>
                <br class="clearer" />   
              </div>
            </div>
            <div class="item-content">
              <div class="item-content-top">
                <span>SvF</span>
              </div>
              <div class="item-content-bottom">
              </div>
            </div>
          </div>
          
          <div class="header-side">
          </div>
          
          <br class="clearer" />
        </div><!-- header-content -->
        
      </div><!-- header -->
      
      <div class="content">
		{block #content}        
        {/block}
      </div> <!-- content -->
		<a href="{plink Projects:default}">Moje projekty</a> |
		<a href="{plink Projects:add}">Add project</a> |
		<a href="{plink Faculties:default}">Fakulty</a> |
		<a href="{plink Faculties:add}">Add faculty</a> |
		<a href="{plink Institutes:default}">Ústavy</a> |
		<a href="{plink Institutes:add}">Add ústav</a> |
		<a href="{plink Statistics:default}">Statistics</a>
    </div> <!-- envelope -->
	
	
	<script>
	$(function() {
		$( ".datepicker").datepicker({
			changeMonth: true,
			changeYear: true,
			showButtonPanel: true
		});
		$( ".datepicker").datepicker( "option", "dateFormat", 'dd.mm.yy' );
		{ifset $project_dates} 
			$('.datepicker[name=start]').datepicker("setDate", {$project_dates['start']} );
			$('.datepicker[name=end]').datepicker("setDate", {$project_dates['end']} );
		{else}
			
		{/ifset}
		$(".flash").delay(3000).fadeOut(2000);
	});
	</script>
</body>
</html>

