{**
 * My Application layout template.
 *
 * @copyright  Copyright (c) 2010 John Doe
 * @package    MyApplication
 *
 * @param string   $basePath web base path
 * @param string   $robots   tell robots how to index the content of a page (optional)
 * @param array    $flashes  flash messages
 *}

<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">

	<meta name="description" content="Nette Framework web application skeleton">
	<meta name="robots" content="{$robots}" n:ifset="$robots">

	<title>{$title}</title>

	<link rel="stylesheet" media="screen,projection,tv" href="{$basePath}/css/screen.css" type="text/css">
	<link rel="stylesheet" media="screen,projection,tv" href="{$basePath}/css/jquery-ui-1.8.18.custom.css" type="text/css">
	<link rel="stylesheet" media="print" href="{$basePath}/css/print.css" type="text/css">
	<link rel="shortcut icon" href="{$basePath}/favicon.ico" type="image/x-icon">

	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6/jquery.min.js"></script>
	<script type="text/javascript" src="{$basePath}/js/netteForms.js"></script>
	<script type="text/javascript" src="{$basePath}/js/jquery-ui-1.8.18.custom.min.js"></script>
	<script type="text/javascript" src="{$basePath}/js/jquery.nette.js"></script>	
        <link rel="stylesheet" media="screen,projection,tv" href="{$basePath}/css/acl.css" type="text/css">

        <script type="text/javascript" src="{$basePath}/js/create-key.js"></script>
	{block head}{/block}
</head>

<body>	
	<div class="envelope">
	  <div class="header">
		<div class="user-info">
			<a href="http://www.stuba.sk" class="feilogo"></a>
			<a class="logout" href="{link :sign:out}" title="Odhlásiť"></a>
			<div class="f_right"><span class="bold">Prihlásený: </span><span class="c-green bold">{$user->name} | {$user->role} </span></div>
			<div n:foreach="$flashes as $flash" class="flash {$flash->type}">{$flash->message}</div>
			<div class="clearer"></div>
		</div>
		<div class="header-content">
                         <a href="{plink :Homepage:default}">Úvod</a>
                    
                    {if $user_object->isAllowed('projekt', 'view')}
			<a href="{plink :Projects:Projects:myProjects}">Moje projekty</a>
                    {/if}
                    {if $user_object->isAllowed('projekt', 'add')}
			<a href="{plink :Projects:Projects:add}">Pridať projekt</a>
                    {/if}

                    {if $user_object->isAllowed('fakulty', 'view')}
			<a href="{plink :Faculties:default}">Fakulty</a>
                    {/if}

                    {if $user_object->isAllowed('ustav', 'view')}
			<a href="{plink :Institutes:default}">Ústavy</a>
                    {/if}

                    {if $user_object->isAllowed('statistiky', 'view')}
                        <a href="{plink :Statistics:default}">Štatistiky</a>
                    {/if}

                    {if $user_object->isAllowed('nastavenia', 'nastavenia_admin') || $user_object->isAllowed('nastavenia', 'nastavenia_rozpocet')  }
                    <a href="{plink :Settings:default}">Nastavenia</a>
                    {/if}
                        
			
                    <div class="date-range">
                            <a href="{link :Homepage:dateRange}">Zobrazované obdobie: </a>
                            {if !empty($dateRange)}
                                    <span class="c-green">{$dateRange->from|date: 'd.m.y'} - {$dateRange->to|date: 'd.m.y'}</span>
                            {else}
                                    <span class="c-green">Všetko</span>
                            {/if}
                    </div>
                    <div class="clearer"></div>
            </div><!-- header-content -->
        
	
	</div><!-- header -->

	<div  class="content">
		<ul  class="breadcrumb">
			{block #breadcrumb}{/block}
		</ul>
                
		{include #content}
	</div> <!-- content -->
	
	<div class="footer">
		Created by FEI STU
	</div>
		
    </div> <!-- envelope -->
	
	
	<script>
	$(function() {
		$(".datepicker").datepicker({
			changeMonth: true,
			changeYear: true,
			showButtonPanel: true
		});
		$( ".datepicker").datepicker( "option", "dateFormat", 'dd.mm.yy' );
		{ifset $project_dates} 
			$('.datepicker[name=start]').datepicker("setDate", {$project_dates['start']} );
			$('.datepicker[name=end]').datepicker("setDate", {$project_dates['end']} );
		{else}
			
		{/ifset}
			
		{ifset $date_range_data} 
			$('.datepicker[name=from]').datepicker("setDate", {$date_range_data['from']} );
			$('.datepicker[name=to]').datepicker("setDate", {$date_range_data['to']} );
		{else}
			$('.datepicker[name=to]').datepicker("setDate", 'm.d.y');
		{/ifset}
		$(".flash").delay(3000).fadeOut(2000);
		

		$(".design").button();

	});
	</script>
</body>
</html>

