body { font: 12px/1.5 "Tahoma", lucida, sans-serif;	color: #000000;	background: #434343; margin: 0 auto; text-align: center; }

h1, p, ul, li { margin: 0px; padding: 0px; }

h1 { font-size: 24px; color: #000000; text-shadow: 1px 1px 1px #ffffff; filter: dropshadow(color=#ffffff, offx=3, offy=3) }
h2 { font-size: 24px; color: #555555; font-weight: bold; text-shadow: 1px 1px 1px #ffffff; filter: dropshadow(color=#ffffff, offx=3, offy=3) }
h3 { font-size: 16px; color: #555555; font-weight: bold; text-shadow: 1px 1px 1px #ffffff; filter: dropshadow(color=#ffffff, offx=3, offy=3) }
a img { border: none; }
a { outline: 0; color: #000000; }

table { border-collapse: collapse }

a.more { display: block; float: left; width: 24px; height: 24px; margin: 0 auto; background: url('../images/more2.png') }
a.delete { display: block; float: left; width: 24px; height: 24px; margin: 0 auto; background: url('../images/delete.png') }

input.more { float: left; width: 24px; height: 24px; margin: 0 auto; border: 0; cursor: pointer; background: url('../images/more2.png') }
input.delete { float: left; width: 24px; height: 24px; margin: 0 auto; border: 0; cursor: pointer; background: url('../images/delete.png') }

.bottom_menu { margin-top: 20px }

.size18 { font-size: 18px; }
.size16 { font-size: 16px; }
.size14 { font-size: 14px; }
.size12 { font-size: 12px; }
.size10 { font-size: 10px; }
.size8 { font-size: 8px; }

.w350 { width: 350px }
.w250 { width: 250px }
.c-green { color: #CFE186 }
.bold { font-weight: bold }
.shadow { -webkit-box-shadow: 5px 5px 10px 2px #706f6f; -moz-box-shadow: 5px 5px 10px 2px #706f6f; box-shadow: 5px 5px 10px 2px #706f6f }
.center { margin: 0 auto }

.clearer { clear: both; }
.center { margin-left: auto; margin-right: auto; }
.bold { font-weight: bold; }
.f_right { float: right; }
.f_left { float: left; }
.hidden { visibility: hidden; }


.envelope { width: 1000px; background: #999999; margin: 0 auto; margin-top: 20px; margin-bottom: 20px }
.header { width: 100%; color: #ffffff; text-shadow: 1px 1px 1px #000000; filter: dropshadow(color=#000000, offx=3, offy=3); background: #8b8b8b url('../images/header-bg.png') repeat-x; padding-top: 1px; }
.header .user-info { text-align: left; margin: 10px 0 0 20px; line-height: 20px }
.header .logout { width: 24px; height: 24px; margin: 0 10px; background: url('../images/logout.png'); float: right }
.header .header-side { width: 52px; height: 97px; float: left; background: url('../images/header-side-bg.png') no-repeat left 22px; }
.header .header-content { margin: 4px 0 0 10px; padding-top: 0px; text-align: left; padding: 0 0 10px 15px }
.header .header-content a { color: #ffffff; text-decoration: none; margin-right: 15px; font-weight: bold; text-shadow: 1px 1px 1px #000000; filter: dropshadow(color=#000000, offx=3, offy=3) }
.header .header-content a:hover { text-shadow: 3px 3px 3px #000000; filter: dropshadow(color=#000000, offx=9, offy=9) }
.header .header-content .date-range { float: right; margin-right: 20px; font-weight: bold }

.header a.feilogo { display: block; width: 194px; height: 54px; float: left; margin-bottom: 10px; background: url('../images/logo.png') }
.header .header-item { float: left; text-align: left; min-width: 125px; *width: 125px;}

.header .header-item .top-content .house { margin: 2px 5px 0 0; float: right; } 
.header .header-item .top-content .arrow-left, .header .header-item .top-content .arrow-right { margin: 2px 0 0 5px; float: left; }

.header .header-item .item-content { text-align: center; }
.header .header-item .item-content .item-content-top { width: 95%; height: 31px; overflow: hidden;border-bottom: 1px solid #9a9a9a; margin: 0 auto; }
.header .header-item .item-content .item-content-bottom { width: 95%; height: 30px; border-top: 1px solid #606060; margin: 0 auto; }
.header .header-item .item-content .item-content-bottom .item-text-left { background: red; width: 125px; float: left; border-right: 1px solid #9a9a9a; }
.header .header-item .item-content .item-content-bottom .item-text-right { background: green; width: 125px; float: left; border-left: 1px solid #606060; }

.header .left .top { width: 100%; height: 24px; padding-top: 2px; background: url('../images/black-bg.png') no-repeat left top; }
.header .left .top .top-content { height: 18px; margin-left: 5px; border-right: 1px solid #c6c6c6; }
.header .left .item-content { height: 61px; margin-top: 3px; border-right: 1px solid #9a9a9a; }

.header .right .top { width: 100%; height: 24px; padding-top: 2px; background: url('../images/black-bg.png') no-repeat right top; }
.header .right .top .top-content { height: 18px; border-left: 1px solid #292929; }
.header .right .item-content { height: 61px; margin-top: 3px; border-left: 1px solid #606060; }

.header .middle .top { width: 100%; height: 24px; padding-top: 2px; background: url('../images/black-bg.png') no-repeat center top; }
.header .middle .top .top-content { height: 18px; border-right: 1px solid #c6c6c6; border-left: 1px solid #292929; }
.header .middle .item-content { height: 61px; margin-top: 3px; border-right: 1px solid #9a9a9a; border-left: 1px solid #606060; }

.content { width: 100%; min-height: 450px; background: #dcdbda; padding-top: 1px; padding-bottom: 75px; border-top: 1px solid #595959; border-bottom: 1px solid #595959; }
.content ul.breadcrumb { height: 24px; line-height: 24px; text-align: left; font-weight: bold; list-style-type: none; padding-left: 25px; font-size: 11px; background: url('../images/black-bg.png'); text-shadow: 1px 1px 1px #000; filter: dropshadow(color=#000, offx=3, offy=3) }
.content ul.breadcrumb li { float: left; color: #fff; margin-right: 10px}
.content ul.breadcrumb li a { color: #fff; text-decoration: none }
.content ul.breadcrumb li.actual { color: #e5e5e5 }

.footer { font-size: 11px; font-style: italic; height: 20px; line-height: 20px; color: #292929; background: #999999 } .login { margin: 0 auto; margin-top: 50px }
.login table { width: 100%; border: 0 }
.login table td { padding-top: 5px; border: 0 }
.login table th { width: 100px; border: 0 }

.box { background: #c6c6c6; -webkit-box-shadow: 1px 1px 50px 10px #000000; -moz-box-shadow: 1px 1px 50px 10px #000000; box-shadow: 1px 1px 50px 10px #000000; -webkit-border-radius: 10px; -moz-border-radius: 10px; border-radius: 10px; padding: 10px; margin-bottom: 20px; 
	background: -moz-linear-gradient(45deg,  rgba(255,255,255,1) 0%, rgba(255,255,255,0.3) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left bottom, right top, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(255,255,255,0.3))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(45deg,  rgba(255,255,255,1) 0%,rgba(255,255,255,0.3) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(45deg,  rgba(255,255,255,1) 0%,rgba(255,255,255,0.3) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(45deg,  rgba(255,255,255,1) 0%,rgba(255,255,255,0.3) 100%); /* IE10+ */
	background: linear-gradient(45deg,  rgba(255,255,255,1) 0%,rgba(255,255,255,0.3) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#4dffffff',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

/* Flash messages */
div.flash { text-shadow: 1px 1px 1px #ffffff;
filter: dropshadow(color=#ffffff, offx=5, offy=5);color: #000000; font-weight: bold; background: #FFF9D7;	border: 1px solid #E2C822; padding: 0px 10px; margin: 0px 10px; float: right}
div.login-flash { height: 30px; line-height: 30px; text-shadow: 1px 1px 1px #ffffff;
filter: dropshadow(color=#ffffff, offx=5, offy=5);color: #000000; font-weight: bold; background: #FFF9D7;	border: 1px solid #E2C822; padding: 0px 10px; margin: 0px 10px; }
div.info { background: #FFF9D7 url('../images/info.png') 10px center no-repeat; padding-left: 40px; border: 1px solid #E2C822 }
div.ok { background: #8cec8c url('../images/ok.png') 10px center no-repeat; padding-left: 40px; border: 1px solid #1cb41c }
div.error { background: #ff9f9f url('../images/error.png') 10px center no-repeat; padding-left: 40px; border: 1px solid #cc0404 }
/* End Flash messages*/

/* Forms */
.forms { display: inline-block; text-align: left; margin: 0 auto; padding: 10px; background: #ececec; -webkit-border-radius: 10px; -moz-border-radius: 10px; border-radius: 10px; -webkit-box-shadow: 5px 5px 20px 1px #000000; -moz-box-shadow: 5px 5px 20px 1px #000000; box-shadow: 5px 5px 20px 1px #000000 }
.forms table { margin: 0 auto; border: 0 }

.forms fieldset { border: 0 }
.forms fieldset table th { background: #d4d4d4; color: #000066; border: 3px solid #ececec; padding: 5px 10px }
.forms fieldset table td { border: 3px solid #ececec }
.forms table td { border: 0 }
.forms table th { border: 0 }
.forms textarea { font: 12px/1.5 "Tahoma", lucida, sans-serif; width: 350px } 


/* Institutes */
.institutes { width: 900px; text-align: center; margin: 0 auto; padding: 10px 0; background: #ececec; -webkit-border-radius: 10px; -moz-border-radius: 10px; border-radius: 10px; -webkit-box-shadow: 5px 5px 20px 1px #000000; -moz-box-shadow: 5px 5px 20px 1px #000000; box-shadow: 5px 5px 20px 1px #000000 }
.institutes table { width: 880px; margin: 0 auto; border: 0 }

.institutes table th { background: #d4d4d4; color: #000066; border: 3px solid #ececec; height: 30px }
.institutes table td { border: 0; border-bottom: 1px solid #d4d4d4; width: 100px; height: 30px }

.institutes table td.actions { text-align: center }
.institutes table td.actions .actions-container { display: inline-block }
.institutes table td.actions .actions-container input { margin: 0 5px }
.institutes table .name { text-align: left; padding-left: 5px }
.institutes table tr.even { background: #e0e0e0 }
.institutes th.head { background: transparent; text-align: left; padding-left: 5px; font-size: 14px; color: #555555; font-weight: bold; text-shadow: 1px 1px 1px #ffffff; filter: dropshadow(color=#ffffff, offx=3, offy=3) }

.institutes table tr:hover td { background: #c3c3ff }

.institutes table tr.total td { height: 30px; font-weight: bold; background: #e0e0e0; border: 3px solid #ececec }
.institutes table tr.total-approved td { height: 30px; background: #92d050; color: #000000; font-weight: bold; border: 3px solid #ececec }

.legend {width: 520px; float:right; margin: 0 40px 40px 10px;}
.statistics-pie {float:left; position: absolute;}
.statistics {  border: 0; text-align: center; margin: 0 auto; padding: 10px 0; font-size: 12px; background: #ececec; -webkit-border-radius: 8px; -moz-border-radius: 8px; border-radius: 8px; -webkit-box-shadow: 5px 5px 20px 1px #000000; -moz-box-shadow: 5px 5px 20px 1px #000000; box-shadow: 5px 5px 20px 1px #000000}
table.statistics-table { width: 480px; margin: 0 20px 0 20px; }
table.statistics-table td { padding: 3px; border: 0 }
table.statistics-table th { background: #d4d4d4; color: #000066; border: 3px solid #ececec; height: 20px  }
table.statistics-table .left { text-align: left }
table.statistics-table a { text-decoration: none }
table.statistics-table a:hover { text-decoration: underline; color: blue }


/* Overview table */
.overview { width: 900px; text-align: center; margin: 0 auto; padding: 10px 0; background: #ececec; -webkit-border-radius: 10px; -moz-border-radius: 10px; border-radius: 10px; -webkit-box-shadow: 5px 5px 20px 1px #000000; -moz-box-shadow: 5px 5px 20px 1px #000000; box-shadow: 5px 5px 20px 1px #000000 }
.overview a { text-decoration: none }
.overview table { width: 880px; margin: 0 auto; border: 0 }
.overview table th { background: #d4d4d4; color: #000066; border: 3px solid #ececec; height: 40px }
.overview table th a { color: #000066 }
.overview table td { border: 0; border-bottom: 1px solid #d4d4d4; width: 100px }
.overview table tr:hover td { background: #c3c3ff }
.overview table tr.even { background: #e0e0e0 }

.overview table tr:hover td.approved { background: #8989ff }
.overview table tr:hover td.dataGrid-approved_cost { background: #8989ff }
.overview table tr:hover td.dataGrid-approved_participation { background: #8989ff }
.overview table tr:hover td.dataGrid-approved_hr { background: #8989ff }
.overview table tr:hover td.dataGridMyProjects-approved_cost { background: #8989ff }
.overview table tr:hover td.dataGridMyProjects-approved_participation { background: #8989ff }
.overview table tr:hover td.dataGridMyProjects-approved_hr { background: #8989ff }

.overview table td.approved { background: #92d050; color: #000000 }
.overview table td.dataGrid-approved_cost  { background: #92d050; color: #000000 }
.overview table td.dataGrid-approved_participation  { background: #92d050; color: #000000 }
.overview table td.dataGrid-approved_hr  { background: #92d050; color: #000000 }
.overview table td.dataGridMyProjects-approved_cost  { background: #92d050; color: #000000 }
.overview table td.dataGridMyProjects-approved_participation  { background: #92d050; color: #000000 }
.overview table td.dataGridMyProjects-approved_hr  { background: #92d050; color: #000000 }

.overview table td.actions { text-align: center }
.overview table td.actions .actions-container { display: inline-block }
.overview table td.actions .actions-container a { margin: 0 5px }
.overview table td.name { text-align: left; padding-left: 5px }
.overview table tr.total td { height: 30px; font-weight: bold; background: #e0e0e0; border: 3px solid #ececec }
.overview table tfoot td {  border-top: 3px solid #ececec; color: #000066 }
.overview table tfoot td:hover { background: #d4d4d4 }

/* Filter */
.component-grid input[type=text] { width: 90% }
.component-grid select { width: 90% }
.component-grid .grid-submit-filter { border: 0; padding-right: 20px; margin-right: 5px; color: #000066; font-weight: bold; cursor: pointer; background : transparent url('../images/grid/search.png') right center no-repeat }

/* Actions */
.component-grid td.grid-row-actions { text-align: center }
.component-grid .grid-actions-envelope { display: inline-block; vertical-align: middle}

/* Footer */
.component-grid tfoot td { text-align: center; font-size: 14px; height: 25px; background: #d4d4d4; color: #ffffff; border-top: 1px solid #c6c6c6; }
.component-grid tfoot td .grid-paginator { margin-top: 2px; display: inline-block; min-width: 180px }
.component-grid tfoot td #frmpagingForm-page { width: 25px; text-align: center }
.component-grid tfoot .grid-p-left { float: left; display: block; margin: 4px 5px 0 0; width: 16px; height: 16px; background: url('../images/grid/arrow_left.png') }
.component-grid tfoot .grid-p-right { float: right; display: block; margin: 4px 0 0 5px; width: 16px; height: 16px; background: url('../images/grid/arrow_right.png') }
.component-grid tfoot .grid-p-left-first { float: left; display: block; margin: 4px 2px 0 0; width: 16px; height: 16px; background: url('../images/grid/arrow_left_fast.png') }
.component-grid tfoot .grid-p-right-last { float: right; display: block; margin: 4px 0 0 2px; width: 16px; height: 16px; background: url('../images/grid/arrow_right_fast.png') }
.component-grid tfoot .grid-items { float: right; line-height: 25px; margin-right: 10px }
.component-grid tfoot .grid-reset { float: left; line-height: 25px; margin-left: 10px;  }
.component-grid tfoot .grid-reset a { color: #000066; text-decoration: none; padding-right: 20px; background: url('../images/grid/arrow_refresh.png') right center no-repeat }
.component-grid tfoot .grid-itemsPerPage { float: right; margin-top: 2px }

/* Icons */
.component-grid .grid-icon { display: block; width: 24px; height: 24px; float: left; margin-right: 5px }
.component-grid .grid-icon.add { background: url('../images/grid/add.png') }
.component-grid .grid-icon.delete { background: url('../images/grid/delete.png') }
.component-grid .grid-icon.edit { background: url('../images/more2.png') }
.component-grid .filter-date { border: 2px solid #fff; background: #fff url('../images/grid/filter-date.png') right bottom no-repeat; }

/* Bool icons */
.component-grid .grid-yes { width: 16px; height: 16px; margin: 0 auto; background: url('../images/grid/yes.png') center center no-repeat }
.component-grid .grid-no { width: 16px; height: 16px; margin: 0 auto; background: url('../images/grid/no.png') center center no-repeat }

/* Add icon */
.add { display: inline-block; float: left; height: 19px; margin-left: 10px; padding-left: 20px; background: url('../images/button-add.png') no-repeat }
.add:hover { color: #000066 }